@page
@model Samples.Debugging.Web.WebUI.Pages.Expenses.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Expense</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.DateIncurred)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.DateIncurred)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.UserID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.UserID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Expense.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
